@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Activity

@model Mission_8.Models.Activity

<!-- Projects Section-->
<section class="py-5">
    <div class="container px-5 mb-5">
        <div class="text-center mb-5">
            <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Collection</span></h1>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-11 col-xl-9 col-xxl-8">

                <!-- Project Card 1-->
                <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                    <div class="card-body p-0">
                        <div class="d-flex align-items-center">
                            <div class="p-5">
                                <h2 class="fw-bolder">Task Information</h2>
                                <p>Please fill out the film information below. </p>

                                <form class="task-form" method="post">
                                    <input type="hidden" asp-for="ActivityId" /> <!--Hiding Task Id so user doesn't see it but we need it for editing & updating records-->
                                    <!-- Task -->
                                    <div class="form-group">
                                        <label asp-for="ActivityDescription">Task Name: </label>
                                        <input asp-for="ActivityDescription" id="ActivityId" class="form-control" />
                                        <div class="invalid-feedback">Task is required.</div>
                                    </div>

                                    <!-- Due Date -->
                                    <div class="form-group">
                                        <label asp-for="DueDate">DueDate</label>
                                        <input asp-for="DueDate" id="DueDate" class="form-control" asp-format="{0:yyyy-MM-dd}" type="date" />
                                    </div>

                                    <!-- Quadrant -->
                                    <div class="form-group">
                                        <label asp-for="Quadrant">Quadrant</label>
                                        <select asp-for="Quadrant" class="form-control">
                                            <option value="1">Urgent & Important (Quadrant 1)</option>
                                            <option value="2">Important & Not Urgent (Quadrant 2)</option>
                                            <option value="3">Not Importnat & Urgent (Quadrant 3)</option>
                                            <option value="4">Not Important & Not Urgent (Quadrant 4)</option>
                                        </select>
                                    </div>

                                    <!-- Task Category -->
                                    <div class="form-group">
                                        <label asp-for="Category">Task Category</label>
                                        <select asp-for="Category" class="form-control">
                                            <option value=""></option>
                                            <option value="1">Home</option>
                                            <option value="2">School</option>
                                            <option value="3">Work</option>
                                            <option value="4">Church</option>
                                        </select>
</div>

                                    <!-- IsCompleted -->
                                    <div class="form-group">
                                        <label asp-for="Completed">Completed Task</label>
                                        <select asp-for="Completed" required>
                                            <option value=""></option>
                                            <option value="1">True</option>
                                            <option value="0">False</option>
                                        </select>
                                    </div>

                                    <div class="btn-group" role="group">
                                        <a class="btn btn-info btn-light-blue" asp-controller="Home" asp-action="Edit" asp-route-id="@x.ActivityId">Edit</a>
                                        <a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@x.ActivityId">Delete</a>
                                    </div>

                                </form>
                                <div asp-validation-summary="All"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>