@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>7 Habits of Highly Effective People</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-6">
            <p>Welcome to our Task Manager App, inspired by the timeless principles from Stephen Covey's "The 7 Habits of Highly Effective People". This app is your personal assistant in prioritizing and managing your tasks efficiently, based on Covey's renowned Time Management Matrix. Here, tasks are categorized into four quadrants, allowing you to visually distinguish between what's urgent, important, both, or neither. Our aim is to help you focus on what truly matters, enabling you to spend more time on activities that align with your long-term goals and values. By leveraging this powerful methodology, you'll enhance productivity, reduce stress, and achieve a balanced and fulfilling life. Welcome aboard to a journey of effective time management and personal growth!</p>
        </div>
        <div class="col-6">
            <img src="~/img/working.jpg" />
        </div>
    </div>
</div>
