@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Mission_8.Models.Activity>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stephen Covey's Time Management Matrix</title>
    <link href="~/css/mystyles.css" rel="stylesheet" />
    <style>
        .Home {
            color: #E35031; /* Soft Red */
        }

        .Work {
            color: #7851A9; /* Lavender */
        }

        .School {
            color: #FF8C00; /* Soft Orange */
        }

        .Church {
            color: #007FFF; /* Light Blue */
        }
    </style>
@*     @{
        var className = "";
        switch (Model.Category)
        {
            case "Home":
                className = "Home";
                break;
            case "Work":
                className = "Work";
                break;
            case "School":
                className = "School";
                break;
            case "Church":
                className = "Church";
                break;
            default:
                className = ""; // Default class or leave empty
                break;
        }
    } *@

</head>
<body>
    <div class="container matrix">  
        <div style="text-align: center" class="row header">
            Stephen Covey Matrix
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-5">URGENT</div>
            <div class="col-5">NOT URGENT</div>
        </div>
        <div class="row">
            <div class="col-2">IMPORTANT</div>
            <div class="col-5 quadrant">
                @foreach (var t in Model)
                {
                    @if (t.Quadrant == 1 && t.Completed == 0)
                    {
                        <li>@t.ActivityDescription</li>
                    }
                }
            </div>
            <div class="col-5 quadrant">
                @foreach (var t in Model)
                {
                    @if (t.Quadrant == 2 && t.Completed == 0)
                    {
                        <li>@t.ActivityDescription</li>
                    }
                }
            </div>
        </div>
        <div class="row">
            <div class="col-2">NOT IMPORTANT</div>
            <div class="col-5 quadrant">
                @foreach (var t in Model)
                {
                    @if (t.Quadrant == 3 && t.Completed == 0)
                    {
                        <li>@t.ActivityDescription</li>
                    }
                }
            </div>
            <div class="col-5 quadrant">
                @foreach (var t in Model)
                {
                    @if (t.Quadrant == 4 && t.Completed == 0)
                    {
                        <li>@t.ActivityDescription</li>
                    }
                }
            </div>
        </div>
    </div>
</body>