@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Mission_8.Models.Activity>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stephen Covey's Time Management Matrix</title>
    <style>
        .row {
            display: flex;
        }

        .column {
            /*flex: 50%; /* Assuming col-6 equivalent for 2 columns */
            padding: 10px; /* For some space between the columns */
            box-sizing: border-box; /* To include padding in the width */
        }

        .matrix {
            border: 2px solid #000;
            margin: 10px;
        }

        .header {
            font-weight: bold;
            text-align: center;
            background-color: #f8e5a4;
        }

        .quadrant {
            background-color: #fdf6d2;
            padding: 20px;
            border: 1px solid #000;
            min-height: 100px; /* For equal height, optional */
        }
    </style>
</head>
<body>
    <div class="container matrix">
        <div style="text-align: center" class="row header">
            Stephen Covey Matrix
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-5">URGENT</div>
            <div class="col-5">NOT URGENT</div>
        </div>
        <div class="row">
            <div class="col-2">IMPORTANT</div>
            <div class="col-5 quadrant">
                @foreach (var t in Model)
                {
                    @if (t.Quadrant == 1 && t.Completed == 0)
                    {
                        <li>@t.ActivityDescription</li>
                    }
                }
            </div>
            <div class="col-5 quadrant">
                @foreach (var t in Model)
                {
                    @if (t.Quadrant == 2 && t.Completed == 0)
                    {
                        <li>@t.ActivityDescription</li>
                    }
                }
            </div>
        </div>
        <div class="row">
            <div class="col-2">NOT IMPORTANT</div>
            <div class="col-5 quadrant">
                @foreach (var t in Model)
                {
                    @if (t.Quadrant == 3 && t.Completed == 0)
                    {
                        <li>@t.ActivityDescription</li>
                    }
                }
            </div>
            <div class="col-5 quadrant">
                @foreach (var t in Model)
                {
                    @if (t.Quadrant == 4 && t.Completed == 0)
                    {
                        <li>@t.ActivityDescription</li>
                    }
                }
            </div>
        </div>
    </div>
</body>
